{% extends "shared/base.html" %}

{% block subtitulo %}Pagina_Principal{% endblock %}

{% block conteudo %}

<h1>Misterio</h1><hr>

<center>
<img src="https://www.oficinadanet.com.br/media/post/25197/330/images.jpg" alt="img" aling="middle">
</center>

<p><br>Descubra a Verdade Oculta! As teorias da conspiração estão mais vivas do que nunca! Será que os Illuminati controlam o mundo em segredo? E as celebridades, são elas marionetes de uma elite sombria? De sociedades secretas a reptilianos disfarçados, os segredos estão em toda parte, esperando para serem revelados! Quem está por trás dos eventos globais? Quem manipula a mídia e as massas? Não é mera coincidência, é uma conspiração global para dominar a humanidade! A verdade está aí, mas será que você está preparado para encará-la? Abra seus olhos antes que seja tarde demais!</p>

{% endblock %}