{% extends "shared/base.html" %}

{% block subtitulo %}Pagina_Principal{% endblock %}

{% block conteudo %}

<h1>Misterio</h1><hr>

<center>
<img src="https://www.oficinadanet.com.br/media/post/25197/330/images.jpg" alt="img" aling="middle">
</center>

<p><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam pariatur sint inventore laborum maxime, ex ab soluta illo voluptatibus voluptas deserunt voluptate sed! Amet eligendi consequatur ipsum, perferendis officiis aspernatur illum, officia laudantium laborum, quas tenetur dolores molestias labore blanditiis?</p>

{% endblock %}