<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="https://www.palmeiras.com.br/">
                <i class="bi bi-bricks fs-1 "></i>
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarMain">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMain">
                <div class="navbar-nav ms-auto mt-2 mt-lg-0">
                    <a class="nav-item nav-link" href="/">Principal</a>
                    <a class="nav-item nav-link" href="/sobre">Sobre</a>
                    <a class="nav-item nav-link" href="/tema">Visualidade</a>
                </ul>
            </div>
        </div>
    </nav>
</header>